* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navy-blue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:#2E2F42;
    --grey:#2E2F42;
    --white:#FFFFFF;
    --dairy:#FCFCFC;
}
body{
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: var(--navy-blue);
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px; 
}
.section {
    padding: 120px 0;
}

/******* header ******/
.top-line{
    background-color: var(--white);
    padding: 0;
    /* margin:; */
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: 1px solid var(--cornflower);
}

.logo{
    margin:0;
    margin-right: 76px;
}
.web {
    color: var(--iris)

}

.menu-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.link {
    /* color: var(--navy-blue); */
    cursor: pointer;
    padding: 24px 0;
}

.link:hover {
    color:var(--ocean);
    cursor: pointer;
}

.link:focus {
    color:var(--ocean);
    cursor: pointer;
}
.link:active {
    text-decoration: underline;
}
.contacts {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    display: flex;
    gap: 40px;
    margin-left: 332px;
}

.section {
    padding: 120px 0; 
    } 

/***** hero *****/
.hero-image {
    /* height: calc(100vh-200px); */
    background-color: var(--navy-blue);
    color: var(--white);
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 188px 0;
}
.hero-image-text{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    word-wrap: break-word;
    width: 496px;
    margin: auto;
}

.hero-btn {
    padding: 1rem 2rem;
    margin-top: 48px;
    background-color:var(--iris);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
}

.hero-btn:hover {
    background-color:var(--ocean);
    cursor: pointer;
    opacity: 0.85;
}
h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
a {
    color: var(--slate);
    text-decoration: none;
}

a:hover {
    color:var(--ocean);
}


h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.feature{
    padding: 120px 0px; 
    display:flex;
    flex-direction: column;
    align-items: center;

}

.feature-list {
    margin:0;
    padding:0;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.feature-description {
    letter-spacing: normal;
}
/* h2 */
.section-title {    
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    padding-bottom: 72px;
    margin-bottom: 8px;
}
.team-card {
    padding: 120px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cloud);
    
}

.team-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border-radius: 4px;
    
}

.team-card-item {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 10px 10px;
    
}

.team-card-info {
background-color: var(--white);
border-radius: 0 0 10px 10px;
padding: 32px 16px;
}


.team-card-image {
    /* overflow: visible; */
    object-fit: cover;
}

.team-member-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.team-member-role{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}



/* Our Portfolio */
.products {
    padding: 120px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-list{
    margin:0;
    padding:0;
    list-style-type: none; 
    display: flex;
   flex-wrap: wrap;
    gap: 24px;
}

.products-item{ 
    width: calc((100% - 48px) / 3);
} 
.products-link {
    text-decoration: none;
   
}
.card {
   
    display:flex;
    flex-direction:column;
}

.card-info {
    background-color: var(--white);
    padding: 12px 4px;
    border: 1px solid var(--cornflower);
    padding: 32px 16px;
}

/* footer */
.page-footer{
    background-color: var(--navy-blue);
    padding: 100px 0; 
}
.page-footer a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.text-footer {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
    width: 264px;
}
